[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/gocode.vim"]
	path = bundle/gocode.vim
	url = https://github.com/golangtw/gocode.vim.git
[submodule "bundle/tslime.vim"]
	path = bundle/tslime.vim
	url = https://github.com/jgdavey/tslime.vim.git
[submodule "bundle/thumbnail.vim"]
	path = bundle/thumbnail.vim
	url = https://github.com/itchyny/thumbnail.vim.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "bundle/vim-godef"]
	path = bundle/vim-godef
	url = https://github.com/dgryski/vim-godef.git
[submodule "bundle/go.vim"]
	path = bundle/go.vim
	url = https://github.com/golangtw/go.vim.git
[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
